.container-aside {
	container-name: container-aside;
	container-type: inline-size;
	flex: 1 1 0%;
	max-inline-size: 100%;
	display: flex;
	column-gap: var(--page-gap);
	margin-inline: var(--padding-page-inline);

	& > aside {
		flex-shrink: 0;
		inline-size: 30ch;
		position: relative;

		& > nav {
			padding: var(--padding-fixed) 0;
		}
		& > nav,
		> search {
			inset-block-start: var(--padding-fixed);
			position: sticky;
			overflow-block: scroll;
		}
		& > search {
			padding: 0.5rem;
		}

		/*& nav li + li:has(strong) {
			margin-block-start: 1em;
		}*/
	}
	/* 30ch (aside) + 3em (gap) + 60ch (main) */
	/* calc(30ch + 3em + 60ch) not supported */
	@container (width < 53em) {
		& > aside {
			display: none;
		}
	}
}
