aside[aria-labelledby^="callout-"] {
	--callout-bg: oklch(
		from var(--theme-color, var(--hex-none)) var(--lightness-l5) c h
	);
	--callout-border: oklch(
		from var(--theme-color, var(--hex-main)) var(--lightness-main) c h
	);
	--callout-label: oklch(
		from var(--theme-color, var(--hex-none)) var(--lightness-text) c h
	);
	max-inline-size: 60ch;
	border-inline-start: var(--border-width, 0.5rem) solid var(--callout-border);
	background-color: var(--callout-bg);
	padding: calc(2 * var(--padding-fixed));

	margin-block-start: 0;
	margin-block-end: var(--padding-fluid);
	margin-inline: 0;

	& :where(h2, h3, h4, h5, h6) {
		color: var(--callout-label);
		--font-size: 100%;
		margin-block: 0;
	}

	& p {
		margin-block: 0;
	}
}

@media (forced-colors: active) {
	aside[aria-labelledby^="callout-"] {
		border-color: CanvasText;
		background-color: Canvas;
		color: CanvasText;
	}
}

/*aside[aria-labelledby^="callout-"] {
  --callout-bg: oklch(from attr(data-theme) 0.25 c h);
  --callout-border: oklch(from var(attr(data-type)) 0.75 c h);
  --callout-label: var(attr(data-type));
}*/

/*aside[aria-labelledby^="callout-"].info {
  --callout-bg: oklch(from var(--color-info) 0.25 c h);
  --callout-border: oklch(from var(--color-info) 0.75 c h);
  --callout-label: var(--color-info);
}
aside[aria-labelledby^="callout-"].pass {
  --callout-bg: var(--color-pass);
}
aside[aria-labelledby^="callout-"].warn {
  --callout-bg: var(--color-warn);
}
aside[aria-labelledby^="callout-"].fail {
  --callout-bg: var(--color-fail);
}*/
