/* Ref: https://www.w3.org/International/articles/vertical-text/ */
/* locales: mn */
html[dir="vlr"] {
	writing-mode: vertical-lr;
	time {
		text-combine-upright: digits 2;
		text-transform: full-width;
	}
	li::marker {
		text-combine-upright: all;
	}
}
