.container {
  width: 60ch;
  margin: 0 auto;
  /* --padding-page: 5vw */
  /* padding: 0 calc(var(--padding-page) + var(--width-scrollbar)) 0
    var(--padding-page); */
}
/*
div.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "content";
  padding: 4.5rem 1rem;
  row-gap: 2rem;
}

@media (min-width: 44rem) {
  div.container {
    grid-template-columns: minmax(0, 1fr) minmax(48rem, 1fr) minmax(0, 1fr);
    grid-template-areas: "start content end";
  }
}
*/
