.container-aside {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
  justify-content: center;
  & aside {
    width: 18rem;
    height: 100vh;
    /* position: sticky;
    overflow-y: scroll; */
    /* max-inline-size: 20ch; */
  }
}
