.container-aside {
  container-name: container-aside;
  container-type: inline-size;
  flex: 1 1 0%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
  margin-inline: var(--padding-fixed);

  & > aside {
    width: 30ch;
    padding: var(--padding-fixed) 0;
    position: relative;

    & > nav {
      top: var(--padding-fixed);
      position: sticky;
      overflow-y: scroll;
    }
  }
  /* 30ch (aside) + 3rem (gap) + 60ch (main) */
  /* calc(30ch + 3rem + 60ch) not supported */
  @container (width < 53em) {
    & > aside {
      display: none;
    }
  }
}
