/*main[class^="container-"] {
  margin-inline: var(--padding-page-inline);
}*/

.container-aside > .container-toc {
	margin: unset;
}

.container-toc {
	max-inline-size: calc(60ch + var(--page-gap) + 30ch);
	margin: 0 auto;

	container-name: container-toc;
	container-type: inline-size;
	flex: 1 1 0%;

	& > article {
		display: grid;
		grid-template-areas:
			"header"
			"aside"
			"content";

		& > :first-child {
			grid-area: header;
			padding-block-start: var(--padding-fixed);
		}
		& > aside {
			grid-area: aside;
			padding-block-end: var(--padding-fixed); /* TODO find alt */
		}
		& > :last-child {
			grid-area: content;
		}

		& > div {
			max-inline-size: 60ch;
		}
	}

	/* 60ch (main) + 3em (gap) + 30ch (toc) */
	/* calc(60ch + 3em + 30ch) not supported */
	/* @container (70em < width) {
    column-gap: 3em;
    grid-template-columns: min-content auto;
    grid-template-areas:
      "top toc"
      "doc toc";
  } */
}

/* 60ch (main) + 3em (gap) + 30ch (toc) */
/* calc(60ch + 3em + 30ch) not supported */
@container container-toc (53em < width) {
	.container-toc {
		& > article:not(.\9) {
			column-gap: var(--page-gap);
			grid-template-columns: min-content auto;
			grid-template-areas:
				"header aside"
				"content aside";

			& > aside {
				flex-shrink: 0;
				width: 30ch;
				position: relative;
				/*max-height: calc(100vh - var(--sticky-header-height, 0));
        top: var(--sticky-header-height, 0);*/

				& > nav {
					top: var(--padding-fixed);
					position: sticky;
					overflow-y: scroll;
				}
			}

			& > div {
				width: 60ch;
			}
		}
	}
}
