/* https://web.dev/one-line-layouts/ */

/*
320px is the smallest device size supported
*/
.grid {
  flex-grow: 1;
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--grid-min-width, 100%), 1fr)
  );
}
