/* https://web.dev/one-line-layouts/ */

/*
320px is the smallest device size supported
*/
.grid {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--min-width, 320px), 1fr));
}
