/* back button should be before <main> */
.back:before {
  content: '\2039'; /* left chevron */
  position: relative;
  left: -0.125rem;
  display: inline-block;
  height: 0px; /* fixes :focus-visible when using display: inline-block */
}
