/* unset <a> styles */
a.button {
  text-decoration: none;
}
/* pulled from button.css */
a.button {
  font: inherit;
  cursor: pointer;

  font-weight: 700;
  outline: none;
  overflow: visible;
  text-align: center;
  /* flex-grow: 1; */
  border: var(--border-width) solid var(--border-color, var(--color-main-bold));
  padding: calc(var(--padding-fixed) * 0.5) var(--padding-fixed);

  white-space: nowrap;

  background-color: var(--color-main-bold);
  color: var(--color-fill-text);

  &:hover {
    background-color: color-mix(
      in srgb,
      var(--color-main-bold-pseudo) 8%,
      var(--color-main-bold)
    );
  }
}

a.button:active,
a.button:focus {
  background-color: color-mix(
    in srgb,
    var(--color-main-bold-pseudo) 12%,
    var(--color-main-bold)
  );
}

[role='group']:has(a.button) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);

  & a.button {
    align-self: flex-end;
  }
}
