p[role] {
	--alert-bg: oklch(
		from var(--theme-color, --hex-none) var(--lightness-l5) c h
	);
	--alert-border: oklch(
		from var(--theme-color, --hex-main) var(--lightness-main) c h
	);
	--alert-label: oklch(
		from var(--theme-color, --hex-none) var(--lightness-text) c h
	);
	max-inline-size: 60ch;
	border-inline-start: var(--border-width, 0.5rem) solid var(--alert-border);
	background-color: var(--alert-bg);
	padding: calc(2 * var(--padding-fixed));

	margin-block-start: 0;
	margin-inline: 0;

	& :where(strong) {
		color: var(--alert-label);
	}
}
