ul:has([is="ds-card"]) {
	list-style: none;
	padding-inline: 0;
}
[is="ds-card"] {
	border: var(--border-width) solid var(--border-color, currentColor);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	position: relative;

	&:defined {
		cursor: pointer;
		& a {
			text-decoration: none;
		}
		&:hover {
			background-color: var(--color-l2);
		}
	}

	& :where(h2, h3, h4, h5, h6) {
		--font-size: 125%;
	}

	& a {
		outline: none;
	}

	& .text {
		order: 1;
		padding: var(--padding-fixed);
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
	}
}
