@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/font/Atkinson Hyperlegible/Regular.woff2') format('woff2'),
    url('/font/Atkinson Hyperlegible/Regular.woff2') format('woff'),
    url('/font/Atkinson Hyperlegible/Regular.woff2') format('ttf');
  font-weight: 400; /* normal */
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/font/Atkinson Hyperlegible/Italic.woff2') format('woff2'),
    url('/font/Atkinson Hyperlegible/Italic.woff2') format('woff'),
    url('/font/Atkinson Hyperlegible/Italic.woff2') format('ttf');
  font-weight: 400; /* normal */
  font-style: italic;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/font/Atkinson Hyperlegible/Bold.woff2') format('woff2'),
    url('/font/Atkinson Hyperlegible/Bold.woff2') format('woff'),
    url('/font/Atkinson Hyperlegible/Bold.woff2') format('ttf');
  font-weight: 700; /* bold */
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/font/Atkinson Hyperlegible/BoldItalic.woff2') format('woff2'),
    url('/font/Atkinson Hyperlegible/BoldItalic.woff2') format('woff'),
    url('/font/Atkinson Hyperlegible/BoldItalic.woff2') format('ttf');
  font-weight: 700; /* bold */
  font-style: italic;
}
