button {
	font: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	cursor: pointer;

	font-weight: 700;

	overflow: visible;
	text-align: center;
	/* flex-grow: 1; */
	border: var(--border-width) solid var(--border-color, var(--color-main-bold));
	padding: var(--padding-fixed);
	padding-block: calc(var(--padding-fixed) * 0.54);
	@supports (text-box: trim-both cap alphabetic) {
		text-box: trim-both cap alphabetic;
		padding-block: var(--padding-fixed);
	}

	white-space: nowrap;

	background-color: var(--color-main-bold);
	color: var(--color-fill-text);

	&:hover {
		background-color: color-mix(
			in srgb,
			var(--color-main-bold-pseudo) 8%,
			var(--color-main-bold)
		);
	}
}

button:active,
button:focus-visible {
	background-color: color-mix(
		in srgb,
		var(--color-main-bold-pseudo) 12%,
		var(--color-main-bold)
	);
}

button:active {
	scale: 0.95;
}

td:has(.button) {
	vertical-align: middle;
}

@media (forced-colors: active) {
	button {
		background-color: transparent;
		border-color: ButtonText;
	}
}
