@media (prefers-contrast: more) {
  /* 
	TODO 
	- increase body font size 
	- add in borders
	
	*/
}

@media (prefers-contrast: custom), (forced-colors: active) {
  /* TODO move to elems - or have svg currentColor */
  /* svg {
    stroke: CanvasText !important;
  }

  a svg {
    stroke: LinkText !important;
  }

  button svg {
    stroke: ButtonText !important;
  } */
}

@media (inverted-colors: inverted) {
  img {
    filter: invert(1);
  }

  /* match forced-colors */
  * {
    box-shadow: none !important;
    text-shadow: none !important;
    background-image: none !important;
  }
}
