button {
  font: inherit;
  cursor: pointer;

  font-weight: 700;
  outline: none;
  overflow: visible;
  text-align: center;
  /* flex-grow: 1; */
  border: var(--border-width) solid
    var(--border-color, var(--color-primary-bold));
  padding: calc(var(--padding-fixed) * 0.5) var(--padding-fixed);

  white-space: nowrap;

  background-color: var(--color-primary-bold);
  color: var(--color-primary-text);

  &:hover {
    background-color: color-mix(
      in srgb,
      var(--color-primary-bold-pseudo) 8%,
      var(--color-primary-bold)
    );
  }
}

button:active,
button:focus {
  background-color: color-mix(
    in srgb,
    var(--color-primary-bold-pseudo) 12%,
    var(--color-primary-bold)
  );
}

[role='group']:has(button) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);

  & button {
    align-self: flex-end;
  }
}
