h1 {
  position: relative; /* to make it more compressible w/ other h tags */
  --font-min-size: 2rem;
  font-family: var(--font-family);
  font-size: calc(var(--font-min-size) + var(--font-scale));
  font-weight: 700;

  margin-block: 0;
  max-inline-size: 60ch;
}
