hgroup > [aria-roledescription] {
  --font-min-size: 1rem;
  font-family: var(--font-family);
  font-size: calc(var(--font-min-size) + var(--font-scale));
  font-weight: 700;
  margin-block: 0;
  max-inline-size: 60ch;
}
