h1 {
	--font-size: 200%;
}
h2 {
	--font-size: 175%;
}
h3 {
	--font-size: 150%;
}
h4 {
	--font-size: 125%;
}
h5 {
	--font-size: 118.75%;
}
h6 {
	--font-size: 112.5%;
}
small,
sub,
sup {
	--font-size: 80%;
}

:root {
	--icon-external: url('data:image/svg+xml,<svg viewBox="0 0 1536 1536" xmlns="http://www.w3.org/2000/svg"><path d="m1536 0v640h-128v-421l-851 850-90-90 850-851h-421v-128zm-512 1007h128v529h-1152v-1152h529v128h-401v896h896z"/></svg>');

	/* hex values should be at 50% lightness */
	--hex-none: #000000;
	/*--hex-main: #522e9a;*/
	--hex-info: #186db7;
	--hex-pass: #327835;
	--hex-warn: #8d6300;
	--hex-fail: #c63325;

	--hex-ins: #354d1c;
	--hex-del: #84211f;
	--hex-mark: #514511;

	/*--lightness-shade-light-a: 0.8956;
  --lightness-shade-light-b: 0.7947;
  --lightness-shade-dark-b: 0.4491;
  --lightness-shade-dark-a: 0.2964;*/
	--lightness-shade-step: calc(0.09 / 0.16);

	/*--lightness-light-l0: 1;
  --lightness-light-l1: 0.9818;
  --lightness-light-l2: 0.9678;
  --lightness-light-l3: 0.9569;
  --lightness-light-l4: 0.9528;
  --lightness-light-l5: 0.9453;*/
	--lightness-light-l0: 1;
	--lightness-light-l1: 0.9851;
	--lightness-light-l2: 0.9731;
	--lightness-light-l3: 0.9642;
	--lightness-light-l4: 0.9581;
	--lightness-light-l5: 0.9521;
	--lightness-dark-a: 0.9121;
	--lightness-dark-b: 0.8279;

	--lightness-dark-a16: calc(
		var(--lightness-dark-a) +
		var(--lightness-shade-step) *
		0.16
	);
	--lightness-dark-a12: calc(
		var(--lightness-dark-a) +
		var(--lightness-shade-step) *
		0.12
	);
	--lightness-dark-a8: calc(
		var(--lightness-dark-a) +
		var(--lightness-shade-step) *
		0.08
	);
	--lightness-dark-a0: calc(var(--lightness-dark-a));

	--lightness-dark-b16: calc(
		var(--lightness-dark-b) +
		var(--lightness-shade-step) *
		0.16
	);
	--lightness-dark-b12: calc(
		var(--lightness-dark-b) +
		var(--lightness-shade-step) *
		0.12
	);
	--lightness-dark-b8: calc(
		var(--lightness-dark-b) +
		var(--lightness-shade-step) *
		0.08
	);
	--lightness-dark-b0: calc(var(--lightness-dark-b));

	--lightness-light-b0: calc(var(--lightness-light-b));
	--lightness-light-b8: calc(
		var(--lightness-light-b) -
		var(--lightness-shade-step) *
		0.08
	);
	--lightness-light-b12: calc(
		var(--lightness-light-b) -
		var(--lightness-shade-step) *
		0.12
	);
	--lightness-light-b16: calc(
		var(--lightness-light-b) -
		var(--lightness-shade-step) *
		0.16
	);

	--lightness-light-a0: calc(var(--lightness-light-a));
	--lightness-light-a8: calc(
		var(--lightness-light-a) -
		var(--lightness-shade-step) *
		0.08
	);
	--lightness-light-a12: calc(
		var(--lightness-light-a) -
		var(--lightness-shade-step) *
		0.12
	);
	--lightness-light-a16: calc(
		var(--lightness-light-a) -
		var(--lightness-shade-step) *
		0.16
	);

	/*--lightness-dark-l5: 0.2434;
  --lightness-dark-l4: 0.2253;
  --lightness-dark-l3: 0.2172;
  --lightness-dark-l2: 0.1926;
  --lightness-dark-l1: 0.1651;
  --lightness-dark-l0: 0.1176;*/
	--lightness-light-b: 0.5403;
	--lightness-light-a: 0.4115;
	--lightness-dark-l5: 0.3485;
	--lightness-dark-l4: 0.3329;
	--lightness-dark-l3: 0.325;
	--lightness-dark-l2: 0.3052;
	--lightness-dark-l1: 0.2809;
	--lightness-dark-l0: 0.2393;

	@media (prefers-color-scheme: light) {
		--lightness-l0: var(--lightness-light-l0); /* light-l0 */
		--lightness-l1: var(--lightness-light-l1); /* light-l1 */
		--lightness-l2: var(--lightness-light-l2); /* light-l2 */
		--lightness-l3: var(--lightness-light-l3); /* light-l3 */
		--lightness-l4: var(--lightness-light-l4); /* light-l4 */
		--lightness-l5: var(--lightness-light-l5); /* light-l5 */

		--lightness-text: var(--lightness-dark-l0); /* dark-l0 */
		--lightness-fill-text: var(--lightness-light-l0); /* dark-l1 */
		--lightness-main: var(--lightness-light-a0); /* light-a0 */
		--lightness-main-pseudo: var(--lightness-dark-a0); /* dark-a0 */
		--lightness-main-bold: var(--lightness-light-b8); /* light-b8 */
		--lightness-main-bold-pseudo: var(--lightness-dark-b8); /* dark-b8 */
	}
	@media (prefers-color-scheme: dark) {
		--lightness-l0: var(--lightness-dark-l0); /* light-l0 */
		--lightness-l1: var(--lightness-dark-l1); /* light-l1 */
		--lightness-l2: var(--lightness-dark-l2); /* light-l2 */
		--lightness-l3: var(--lightness-dark-l3); /* light-l3 */
		--lightness-l4: var(--lightness-dark-l4); /* light-l4 */
		--lightness-l5: var(--lightness-dark-l5); /* light-l5 */

		--lightness-text: var(--lightness-light-l1); /* dark-l0 */
		--lightness-fill-text: var(--lightness-dark-l1); /* dark-l1 */
		--lightness-main: var(--lightness-dark-a0); /* light-a0 */
		--lightness-main-pseudo: var(--lightness-light-a0); /* dark-a0 */
		--lightness-main-bold: var(--lightness-dark-b8); /* light-b8 */
		--lightness-main-bold-pseudo: var(--lightness-light-b8); /* dark-b8 */
	}

	--color-l0: oklch(
		from var(--theme-color, --hex-none) var(--lightness-l0) c h
	);
	--color-l1: oklch(
		from var(--theme-color, --hex-none) var(--lightness-l1) c h
	);
	--color-l2: oklch(
		from var(--theme-color, --hex-none) var(--lightness-l2) c h
	);
	--color-l3: oklch(
		from var(--theme-color, --hex-none) var(--lightness-l3) c h
	);
	--color-l4: oklch(
		from var(--theme-color, --hex-none) var(--lightness-l4) c h
	);
	--color-l5: oklch(
		from var(--theme-color, --hex-none) var(--lightness-l5) c h
	);
	--color-text: oklch(
		from var(--theme-color, --hex-none) var(--lightness-text) c h
	);
	--color-fill-text: oklch(
		from var(--theme-color, --hex-none) var(--lightness-fill-text) c h
	);
	--color-focus: oklch(from var(--hex-main) var(--lightness-main) c h);
	--color-main: oklch(from var(--hex-main) var(--lightness-main) c h);
	--color-main-pseudo: oklch(
		from var(--hex-main) var(--lightness-main-pseudo) c h
	);
	--color-main-bold: oklch(from var(--hex-main) var(--lightness-main-bold) c h);
	--color-main-bold-pseudo: oklch(
		from var(--hex-main) var(--lightness-main-bold-pseudo) c h
	);

	--color-ins: light-dark(#354d1c, #d6e7c3);
	--color-del: light-dark(#84211f, #fadad9);
	--color-mark: light-dark(#514511, #fde061);
	--color-info: light-dark(#186db7, #9bcaf3);
	--color-pass: light-dark(#327835, #a3d0a5);
	--color-warn: light-dark(#8d6300, #ffb812);
	--color-fail: light-dark(#c63325, #f2b4cb);

	/*--color-l0: light-dark(#ffffff, #1f1f1f);
  --color-l1: light-dark(#fafafa, #292929);
  --color-l2: light-dark(#f6f6f6, #2f2f2f);
  --color-l3: light-dark(#f3f3f3, #343434);
  --color-l4: light-dark(#f1f1f1, #363636);
  --color-l5: light-dark(#efefef, #3a3a3a);
  --color-text: light-dark(#1f1f1f, #fafafa);
  --color-fill-text: light-dark(#fafafa, #1f1f1f);
  --color-main: light-dark(#522e9a, #e5def2);
  --color-main-pseudo: light-dark(#e5def2, #522e9a);
  --color-main-bold: light-dark(#7956be, #ccbfe6);
  --color-main-bold-pseudo: light-dark(#ccbfe6, #7956be);
  --color-focus: light-dark(#522e9a, #e5def2);
  --color-ins: light-dark(#354d1c, #d6e7c3);
  --color-del: light-dark(#84211f, #fadad9);
  --color-mark: light-dark(#514511, #fde061);
  --color-info: light-dark(#186db7, #9bcaf3);
  --color-pass: light-dark(#327835, #a3d0a5);
  --color-warn: light-dark(#8d6300, #ffb812);
  --color-fail: light-dark(#c63325, #f2b4cb);*/
	@media (prefers-contrast: more) {
		--color-main: light-dark(#522e9a, #e5def2);
	}

	/* light-dark, can't be used for numbers */
	/*
  --lightness-l0: light-dark(
    var(--lightness-light-l0),
    var(--lightness-dark-l0)
  );
  --lightness-l1: light-dark(
    var(--lightness-light-l1),
    var(--lightness-dark-l1)
  );
  --lightness-l2: light-dark(
    var(--lightness-light-l2),
    var(--lightness-dark-l2)
  );
  --lightness-l3: light-dark(
    var(--lightness-light-l3),
    var(--lightness-dark-l3)
  );
  --lightness-l4: light-dark(
    var(--lightness-light-l4),
    var(--lightness-dark-l4)
  );
  --lightness-l5: light-dark(
    var(--lightness-light-l5),
    var(--lightness-dark-l5)
  );

  --lightness-text: light-dark(
    var(--lightness-dark-l0),
    var(--lightness-light-l1)
  );
  --lightness-fill-text: light-dark(
    var(--lightness-light-l1),
    var(--lightness-dark-l0)
  );
  --lightness-main: light-dark(
    var(--lightness-light-a0),
    var(--lightness-dark-a0)
  );
  --lightness-main-pseudo: light-dark(
    var(--lightness-dark-a0),
    var(--lightness-light-a0)
  );
  --lightness-main-bold: light-dark(
    var(--lightness-light-b8),
    var(--lightness-dark-b8)
  );
  --lightness-main-bold-pseudo: light-dark(
    var(--lightness-dark-b8),
    var(--lightness-light-b8)
  );*/
	/* Unused above */

	--theme-color: var(--hex-none);
}

[data-theme="main"] {
	--theme-color: var(--hex-main);
}

[data-theme="info"] {
	--theme-color: var(--hex-info);
}
[data-theme="pass"] {
	--theme-color: var(--hex-pass);
}
[data-theme="warn"] {
	--theme-color: var(--hex-warn);
}
[data-theme="fail"] {
	--theme-color: var(--hex-fail);
}

span.badge,
button,
a.button,
input,
select,
textarea,
[type="file"]::file-selector-button {
	border-radius: var(--border-radius);
}
