ul:has(> li > [is="ds-card"]) {
	list-style: none;
	padding-inline: 0;
}


[is="ds-card"] {
    border: var(--border-width) solid var(--border-color, currentColor);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: var(--color-l1);

	box-shadow:
           0 1px 2px 		light-dark(var(--shadow-color, lightgray), transparent),
           0 4px 12px 		light-dark(var(--shadow-color, lightgray), transparent),
           0 12px 32px 		light-dark(var(--shadow-color, lightgray), transparent),
           inset 0 0 0 1px 	light-dark(transparent, oklch(from var(--glow-color, var(--color-main)) calc(l + 0.5) c h / 0.5)),
           0 0 16px 	    light-dark(transparent, oklch(from var(--glow-color, var(--color-main)) calc(l + 0.5) c h / 0.3)),
           0 0 3px 	        light-dark(transparent, oklch(from var(--glow-color, var(--color-main)) calc(l + 0.5) c h / 0.5));

	&:defined {
		cursor: pointer;
		& a {
			text-decoration: none;
		}
		&:hover {
			background-color: var(--color-l2);
		}
	}

	& :where(h2, h3, h4, h5, h6) {
		--font-size: 125%;
	}

	&:has(a:focus-visible) {
		outline: 0.25rem solid var(--color-focus);
		outline-offset: 0.25rem;
	}

	& .img {
	    overflow: hidden;
    	border-start-start-radius: inherit;
    	border-start-end-radius: inherit;
	}

	& .text {
		order: 1;
		padding: var(--padding-fixed);
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
	}
}
