/**
 * Hide keybinding until ready
 */
div:has([is="ds-input-focus"]) ~ code {
	display: none;
	position: relative;
	inset-inline-start: -25%;
}
div:has([is="ds-input-focus"]:defined) ~ code {
	display: block;
}
