.ds-tooltip {
	position: fixed;
	inset: auto;
	position-area: block-start;
	position-try-fallbacks:
		flip-block,
		block-end span-inline-end,
		block-end span-inline-start,
		block-start span-inline-end,
		block-start span-inline-start;
	position-visibility: anchors-visible;
	overflow: visible;
	margin: 0.5rem;
	max-inline-size: 30ch;
	padding: calc(var(--padding-fixed) / 2);
	border: var(--border-width) solid var(--color-text);
	border-radius: var(--border-radius);
	background: var(--color-l1);
	box-shadow: var(--shadow-raised);
	color: var(--color-text);
	opacity: 0;
	transition:
		opacity 150ms,
		display 150ms allow-discrete,
		overlay 150ms allow-discrete;

	&::before {
		content: "";
		position: absolute;
		inset-inline: 0;
		inset-block-end: calc(-0.5rem - var(--border-width));
		block-size: calc(0.5rem + var(--border-width));
	}

	&:popover-open {
		opacity: 1;
		transition-delay: 400ms;

		@starting-style {
			opacity: 0;
		}
	}
}

.ds-tooltip-arrow {
	position: fixed;
	inset: auto;
	position-area: block-start;
	margin-block: auto 0.25rem;
	padding: 0;
	inline-size: 0.5rem;
	block-size: 0.5rem;
	rotate: 45deg;
	border: var(--border-width) solid var(--color-text);
	border-top: none;
	border-left: none;
	background: var(--color-l1);
	opacity: 0;
	transition:
		opacity 150ms,
		display 150ms allow-discrete,
		overlay 150ms allow-discrete;

	&:popover-open {
		opacity: 1;
		transition-delay: 400ms;

		@starting-style {
			opacity: 0;
		}
	}
}

[data-ds-side="below"] + .ds-tooltip + .ds-tooltip-arrow {
	position-area: block-end;
	margin-block: 0.25rem auto;
	border-top: var(--border-width) solid var(--color-text);
	border-left: var(--border-width) solid var(--color-text);
	border-bottom: none;
	border-right: none;
}
