a {
  color: var(--color-main);
  text-underline-position: under;
}

a:hover,
a:focus-visible {
  color: color-mix(in srgb, var(--color-main-pseudo) 8%, var(--color-main));
  text-decoration: underline solid 0.4em
    color-mix(in srgb, var(--color-main-pseudo) 8%, var(--color-main));
  text-decoration-thickness: 0.4em;
  text-underline-position: under;
}

a:active,
a[aria-current='page'] {
  color: color-mix(in srgb, var(--color-main-pseudo) 12%, var(--color-main));
  text-decoration: underline solid 0.4em
    color-mix(in srgb, var(--color-main-pseudo) 12%, var(--color-main));
  text-decoration-thickness: 0.2em;
  text-underline-position: under;
}

a:visited {
}

a:focus-visible {
  outline: unset; /* override default */
}

/* :where(h1, h2, h3, h4, h5, h6) a {
  text-decoration: none;
} */

/* 1F517 link symbol */
/* 1F5D7 overlap */
/* 1F855 NE arrow */
/* div, .button for cms pages linking to hubs - deprecate when hubs share same domain */
[href^='https://']:not(:has(img)):after
{
  content: '';

  -webkit-mask: var(--icon-external) no-repeat;
  mask: var(--icon-external) no-repeat;
  background-color: currentColor;
  padding: 0 0.4em;
  margin: 0.25rem;
}
