h3 {
  position: relative;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 700;

  margin-block: 0;
  max-inline-size: 60ch;
}

h3[id] a {
  position: absolute;
  inset-inline-end: 0;
  width: 1em;
  text-align: end;
}

@media (min-width: 60em) {
  h3[id] a {
    inset-inline-end: auto;
    inset-inline-start: -1.35em;
  }
}
