h5 {
  position: relative;
  --font-min-size: 1.125rem;
  font-family: var(--font-family);
  font-size: calc(var(--font-min-size) + var(--font-scale));
  font-weight: 700;

  margin-block: 0;
  max-inline-size: 60ch;
}

h5[id] a {
  position: absolute;
  right: 0;
  width: 1em;
  text-align: end;
}

@media (min-width: 60em) {
  h5[id] a {
    right: auto;
    left: -1.5em;
  }
}
