@import './input.css';

div:has(input[type='radio']) {
  min-height: calc(var(--border-width) * 2 + var(--padding-fixed) * 2 + 1em);
}

input[type='radio'] {
  cursor: pointer;
  position: absolute;
  padding: calc(var(--padding-fixed) + 0.5em);
  margin: 0;
  appearance: none;
  border-radius: 50%;
}

input[type='radio']:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.625em solid;
  border-radius: 50%;
  visibility: hidden;
}
input[type='radio']:checked:after {
  visibility: visible;
}

input[type='radio'] + label {
  margin-inline-start: calc(
    var(--padding-fixed) * 2 + 1em + var(--border-width) * 2
  );
  padding: calc(var(--border-width) + var(--padding-fixed) * 0.5)
    var(--padding-fixed) 0;
  touch-action: manipulation;
}

/* hint */
input[type='radio'] ~ [id$='-hint'] {
  margin-inline-start: calc(
    var(--padding-fixed) * 2 + 1em + var(--border-width) * 2
  );
  padding: 0 var(--padding-fixed);
}

/* conditional */
input[type='radio'] ~ div:first-of-type {
  display: block;
  border-inline-start: 0.4rem solid currentColor;
  margin-inline-start: calc(
    var(--border-width) + var(--padding-fixed) + 1em * 0.5 - 0.4rem * 0.5
  );
  padding: 0 var(--padding-fixed);
  padding-inline-start: calc(
    var(--border-width) + var(--padding-fixed) * 2 + 1em * 0.5 - 0.4rem * 0.5
  );
}

input[type='radio']:not(:checked) ~ div:first-of-type {
  display: none;
}
