input {
  border: var(--border-width) solid var(--border-color, currentColor);
  color: var(--color-text);
  background: transparent;
  font: inherit;
}

input:where(
    [type='text'],
    /*[type='search'],*/
    [type='date'],
    [type='email'],
    [type='url'],
    [type='password']
  ) {
  padding: calc(var(--padding-fixed) * 0.5) var(--padding-fixed);
}

[role='group']:has(input) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
}

/* Fix size attr width in Firefox - requires: https://bugzilla.mozilla.org/show_bug.cgi?id=435426 */
/*
[size] {
  width: attr(size em);
}
input[inputmode='numeric'][size] {
  width: attr(size ch);
}
*/
