select {
  border: var(--border-width) solid var(--border-color, currentColor);
  font: inherit;
  color: var(--color-text);
  background-color: transparent;

  cursor: pointer;
  padding-block: calc(var(--padding-fixed) * 0.5);
  padding-inline: var(--padding-fixed) calc(var(--padding-fixed) * 2 + 1em); /* 1em is width of :after */

  appearance: none;
  grid-area: select;
}

/*:not([multiple])*/
div:has(> select:not([multiple])) {
  display: inline-grid;
  grid-template-areas: 'select';
  align-items: center;
}
div:has(> select:not([multiple])):after {
  content: '';
  width: 1em;
  height: 1em;
  background-color: var(--border-color, currentColor);
  margin-inline: var(--padding-fixed);
  /* chevron down */
  clip-path: polygon(10% 20%, 50% 60%, 90% 20%, 100% 30%, 50% 80%, 0 30%);
  grid-area: select;
  justify-self: end;
}

@media (prefers-contrast: custom), (forced-colors: active) {
  select {
    background: none;
    appearance: auto;
  }
}
