select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  border: var(--border-width) solid var(--border-color, currentColor);
  color: var(--color-text);
  background-color: transparent;

  cursor: pointer;
  padding-block: calc(var(--padding-fixed) * 0.54);
  padding-inline: var(--padding-fixed); /* 1em is width of :after */

  appearance: none;
  grid-area: select;
}

select,
::picker(select) {
  appearance: base-select;
}

@media (prefers-contrast: custom), (forced-colors: active) {
  select {
    background: none;
    appearance: auto;
  }
}
